extends layout
block links
    link(rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
    integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
    crossorigin="")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")

mixin week_dropdown(weeks)
    div.dropdown
        button#week_selection.btn.btn-secondary.dropdown-toggle.disabled(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Select week
        div.dropdown-menu(aria-labelledby="week_selection")
            each file_name, index in weeks
                //if index === 1
                //    a.dropdown-item.active(href="javascript:void(0)" value=file_name)=file_name
                //else
                a.dropdown-item(href="javascript:void(0)" value=file_name)=file_name

block content
    div#view.row
        div#map.col-md-9
            h1=title
            p#console
        div#control.col
            +week_dropdown(files)
    div.row
        div.col
            div#mapid

    div.spacing

    div.row
        div#legend.col-md-3
            div.card
                div.card-body
                    h5.card-title='Zone Density'
                    ul.list-group.list-group-flush
                        li.list-group-item
                            div.row
                                div.col
                                    p='0'
                                div.density-legend-color.col(style='background-color:gray')
                        li.list-group-item
                            div.row
                                div.col
                                    p='0 - 10'
                                div.density-legend-color.col(style='background-color:#ffffcc')
                        li.list-group-item
                            div.row
                                div.col
                                    p='10 - 20'
                                div.density-legend-color.col(style='background-color:#ffeda0')
                        li.list-group-item
                            div.row
                                div.col
                                    p='20 - 30'
                                div.density-legend-color.col(style='background-color:#fed976')
                        li.list-group-item
                            div.row
                                div.col
                                    p='30 - 40'
                                div.density-legend-color.col(style='background-color:#feb24c')
                        li.list-group-item
                            div.row
                                div.col
                                    p='40 - 50'
                                div.density-legend-color.col(style='background-color:#fd8d3c')
                        li.list-group-item
                            div.row
                                div.col
                                    p='50 - 60'
                                div.density-legend-color.col(style='background-color:#fc4e2a')
                        li.list-group-item
                            div.row
                                div.col
                                    p='60 - 70'
                                div.density-legend-color.col(style='background-color:#e31a1c')
                        li.list-group-item
                            div.row
                                div.col
                                    p='70 - 80'
                                div.density-legend-color.col(style='background-color:#e31423')
                        li.list-group-item
                            div.row
                                div.col
                                    p='80 - 90'
                                div.density-legend-color.col(style='background-color:#C6000C')
                        li.list-group-item
                            div.row
                                div.col
                                    p='90 - 100'
                                div.density-legend-color.col(style='background-color:#bd0026')
                        li.list-group-item
                            div.row
                                div.col
                                    p='> 100 '
                                div.density-legend-color.col(style='background-color:#800026')



block scripts
    include dependency_scripts
    script(src='/javascripts/leaflet.js')
    script(src='/javascripts/clientSocketIO.js')
    script(src='/javascripts/interaction.js')